:root {
  --top-spacing: 74px;
  scroll-padding-top: var(--top-spacing);
  line-height: 1.0;
}

.topnav {
  padding: .75rem 0;
  background-color: #1fda9a;
}

  .topnav .navbar-toggler {
    padding: 0;
    border: 0
  }

  .topnav .navbar-nav .nav-link {
    padding-right: .25rem;
    padding-left: .25rem;
  }

  .topnav .navbar-nav .nav-link.active {
    font-weight: 600;
  }

    .topnav .navbar-nav-svg {
      width: 1rem;
      height: 1rem
    }

.navbar.fixed-top+.layout {
  padding-top: var(--top-spacing);
}

label.error {
  color: #f00;
}

.timgs .list-group-item {
  position: relative;
}

  .timgs img {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

    .timgs .fa-spin {
      animation-duration: 1.2s;
    }
